* {
  box-sizing: border-box;
}

/* header */

header {
  width: 100%;
  top: 0%;
  left: 0%;
  background: rgba(25, 151, 0, 0.35);
}

/* nav */

nav {
  align-content: center;
  align-content: horizontal;
  padding: 13px 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 960px;
  width: auto;
  margin: 0 auto;
}

a {
  color: #3d3330;
  text-decoration: none;
  font-size: 17px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.logo {
  width: 80px;
  height: auto;
}

/* body */

body {
  width: 100%;
  margin: auto;
  padding: 0;
  font-family: sans-serif;
}

/* announcement-section */

.announcement-section {
  height: 83vh;
  background: url("./images/announcement-image.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.announcement {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-style: solid;
  border-color: #3d3330;
  border-width: 2px;
  border-radius: 1px;
  background: rgba(25, 151, 0, 0.35);
}

.announcement h3 {
  text-align: center;
}

.announcement p {
  padding: 10px;
  max-width: 250px;
  width: auto;
  justify-content: space-evenly;
}

/* popular-products */

.popular-products {
  /* display: flex; */
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

.products-slider {
}

.product {
  text-align: center;
}

.popular-products-image {
  max-width: 100px;
  max-height: 125px;
  width: 100%;
  height: auto;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;
  border-style: solid;
}

#pp-left-arrow {
  border-width: 10px 15px 10px 0;
  border-color: transparent #000 transparent transparent;
  left: 0;
  margin-left: 30px;
}

#pp-right-arrow {
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #000;
  right: 0;
  margin-right: 30px;
}

/* main content */

.container {
  margin: 0 auto;
  padding: 0;
}

.parallax-image {
  width: 100%;
  height: 83vh;
  position: relative;
  background: url("./images/announcement-image.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 30px auto;
}

.content {
  width: 500px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-style: solid;
  border-color: #3d3330;
  border-width: 2px;
  border-radius: 1px;
  background: rgba(25, 151, 0, 0.35);
}
.content h3 {
  text-align: center;
}

.content p {
  margin: 0;
  border: 0;
  padding: 20px;
  width: auto;
  display: flex;
  justify-content: space-evenly;
}

.learn-button {
  color: #000000;
  text-decoration: none;
  font-size: 17px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
