*{box-sizing: border-box}

header {
  width: 100%;
  top: 0%;
  left: 0%;
}

nav {
  align-content: center;
  align-content: horizontal;
  padding: 13px 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 100%;
  width: auto;
  margin: 0 auto;
  background: rgba(76, 175, 80, 0.3);
}

a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo {
  width: 80px;
  height: auto;
}

body {
  width: 100%;
  margin: auto;
  padding: 0;
  font-family: sans-serif;
}

.announcement-section {
  height: 83vh;
  background: url("./images/announcement-image.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.announcement-section p {
  padding: 0%;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
}



